# Programming for Data Science
## NOVA IMS

#### Student Name:
Ana Clara do Carmo St.Aubyn
#### Student Number:
R2016713

### How to save your jupyter notebook
Save wih the following name HW2_\< id >.ipynb where \< id > is your student number. Upload your solution on moodle

### Homework 2

This week homework will test your ability to apply functions and classes.

### Notes and Additional Material

In the _Theoretical Slides L3_ **Challenges for Practice** _page 52_  supplied by **Professor Flávio Pinheiro** you will find the following exercise:


**Question:** Write a program that computes the net amount of a bank account based a transaction log from console input. the transaction log format is shown as following:

D 100

W 200

D means deposit while W means withdrawal.
Suppose the folowing input is supplied to the program:

D 300

D 300

W 200

D 100

Then, the output should be: 500

## Let's move on to what matters!!




# Assignment

## Part I


1. Declare a function named *delete_duplicates* that takes as argument a list, **L**, of values;


* The function *delete_duplicates* returns a new list with unique elements of the passed list, **L**;
* For instance if we pass a list with the values [1,2,3,3,3,3,4,5], it must return [1, 2, 3, 4, 5];
* Complement the function with a proper documentation that can be accessible through the attribute .\__doc__;
* The function should work for lists with heterogeneous types of objects (strings, int, float, etc ..

In [3]:
List=[1,2,3,3,3,3,4,5] 
def delete_duplicates(L):
    """This function receives a list and returns a new list without duplicated elements"""
    #a dictionary can't have repeated keys so we can create a dictionary and then convert it into a list again
    return list(dict.fromkeys(L))
print(delete_duplicates(List))
delete_duplicates.__doc__

[1, 2, 3, 4, 5]

'This function receives a list and returns a new list without duplicated elements'


2. Declare a list, **l**, made up of 10000 random integers between 0 and 100, 100 included;


* Use the function *delete_duplicates* to return the unique elements in **l**;

In [4]:
import random
I=[]
for x in range(10000):
    I.append(random.randint(0,100))
I=delete_duplicates(I)
print(I)

[92, 88, 17, 9, 58, 57, 62, 49, 23, 35, 41, 47, 95, 40, 71, 52, 82, 96, 22, 94, 18, 68, 26, 66, 21, 25, 54, 30, 20, 83, 33, 78, 89, 44, 43, 81, 14, 79, 2, 67, 86, 38, 75, 12, 1, 85, 16, 51, 56, 31, 55, 6, 99, 93, 48, 59, 72, 76, 73, 98, 7, 39, 84, 61, 24, 60, 36, 50, 74, 10, 77, 0, 32, 37, 91, 13, 65, 46, 70, 100, 29, 90, 11, 87, 80, 34, 27, 42, 64, 28, 4, 19, 5, 53, 63, 69, 45, 8, 15, 97, 3]

## Part II

1. Declare a class that holds a client bank account;


* The input arguments must be name and first deposit amount
* The client will have an unique id
* A comission will deducted to the original amount of 50


2. Interest rate


* Define a method where an interest rate is aplied to the net amount


3. Age


* Create functions to supply the birthdate (format YYYYMMDD) and get the Age



##### Note: Use the basis provided to solve this homework item. Take the necessary actions to make it run successfully

In [13]:
from datetime import date, datetime
import random
import uuid

class bank_account():
    
    def __init__(self, Name, FirstDeposit, ID):
        self.Name=Name
        self.FirstDeposit=FirstDeposit
        self.ID=ID
        self.Amount=float(FirstDeposit)-50
        
    def account(self):
        print ('Name: ', str(self.Name))
        print ('ID: ', str(self.ID))
        print ('First Deposit: ', str(self.FirstDeposit))
        print('Current Amount: ', str(self.Amount))
    
    def apply_IR(self, irate):
        self.Amount = float(self.Amount+(self.Amount * irate))
        print("The amount updated according to the interest rate is ",self.Amount)
     
    def getAge(self, birthday):
        today = date.today() 
        age = today.year - birthday.year - ((today.month, today.day) < (birthday.month, birthday.day))
        return age    
        
    def setBirthday(self):
        self.birthday=input("When is your birthday (dd mm yy):")
        self.birthday=datetime.strptime(self.birthday, "%d %m %y")
        print ('Age: ', self.getAge(self.birthday))
        
    def applyDeposit(self, deposit):
        self.Amount=self.Amount+deposit
        print("Your current balance is ",self.Amount)
    
    def applyWithdrawal(self,withdrawal):
        self.Amount=self.Amount-withdrawal
        print("Your current balance is ",self.Amount)
    
name=input("Insert your name: ")
firstAmount=input("Insert the value for your first deposit. A comission of 50€ will be deducted.")

BankAccount=bank_account(name, firstAmount, uuid.uuid4())
bank_account.account(BankAccount)
bank_account.apply_IR(BankAccount,0.05)
bank_account.setBirthday(BankAccount)

Insert your name: ana
Insert the value for your first deposit. A comission of 50€ will be deducted.500
Name:  ana
ID:  06adfa99-b673-40df-bae5-4d5103015742
First Deposit:  500
Current Amount:  450.0
The amount updated according to the interest rate is  472.5
When is your birthday (dd mm yy):21 12 98
Age:  20


4. Transactions


* Apply the following bank transactions:

* Open Account with 7500
* D 500
* D 500
* W 1000
* W 1500
* D 500
* Apply a class interest rate of 5%

In [15]:
BankAccount2=bank_account('Ana', 7500, uuid.uuid4())
bank_account.account(BankAccount2)
bank_account.applyDeposit(BankAccount2, 500)
bank_account.applyDeposit(BankAccount2, 500)
bank_account.applyWithdrawal(BankAccount2, 1000)
bank_account.applyWithdrawal(BankAccount2, 1500)
bank_account.applyDeposit(BankAccount2, 500)
bank_account.apply_IR(BankAccount2, 0.05)

Name:  Ana
ID:  2525fe56-eb0b-44f1-9a5c-612e51e97f8e
First Deposit:  7500
Current Amount:  7450.0
Your current balance is  7950.0
Your current balance is  8450.0
Your current balance is  7450.0
Your current balance is  5950.0
Your current balance is  6450.0
The amount updated according to the interest rate is  6772.5


5 . Interest Rate

* Apply a personalized interest rate of 15% (over the previous result)

In [16]:
bank_account.apply_IR(BankAccount2, 0.15)

The amount updated according to the interest rate is  7788.375

6 . Create another dummy bank Account

* Print the Account ID

In [17]:
BankAccount3=bank_account('Olá', 8000, uuid.uuid4())
print(BankAccount3.ID)

8ecbe510-0b91-4810-9b37-fe0f549258c0